In [20]:
import pandas as pd

In [21]:
from matplotlib import pyplot as plt

In [22]:
import numpy as np

In [24]:
df=pd.read_csv("weather_data.csv")
df

        day  temp  windspeed  event
0  1/1/2020    32          6   rain
1  1/2/2020    35          7  sunny
2  1/3/2020    28          2   snow
3  1/4/2020    24          7   snow
4  1/5/2020    32          4   rain
5  1/6/2020    32          2  sunny

In [25]:
df.shape

(6, 4)

In [27]:
df.head(2)

        day  temp  windspeed  event
0  1/1/2020    32          6   rain
1  1/2/2020    35          7  sunny

In [28]:
df.tail()

        day  temp  windspeed  event
1  1/2/2020    35          7  sunny
2  1/3/2020    28          2   snow
3  1/4/2020    24          7   snow
4  1/5/2020    32          4   rain
5  1/6/2020    32          2  sunny

In [29]:
df[2:5]

        day  temp  windspeed event
2  1/3/2020    28          2  snow
3  1/4/2020    24          7  snow
4  1/5/2020    32          4  rain

In [30]:
df.columns

Index(['day', 'temp', 'windspeed', 'event'], dtype='object')

In [31]:
df.day

0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
5    1/6/2020
Name: day, dtype: object

In [32]:
type(df.day)

pandas.core.series.Series

In [33]:
df.temp.max()

35

In [34]:
df.temp.mean()

30.5

In [35]:
df.temp.std()

3.8858718455450894

In [36]:
df.describe()

            temp  windspeed
count   6.000000   6.000000
mean   30.500000   4.666667
std     3.885872   2.338090
min    24.000000   2.000000
25%    29.000000   2.500000
50%    32.000000   5.000000
75%    32.000000   6.750000
max    35.000000   7.000000

In [59]:
df[df.temp>=32]

          temp  windspeed  event
day
1/1/2020    32          6   rain
1/2/2020    35          7  sunny
1/5/2020    32          4   rain
1/6/2020    32          2  sunny

In [60]:
df[df.temp==df.temp.max()]

          temp  windspeed  event
day
1/2/2020    35          7  sunny

In [68]:
df['day'][df.temp==df.temp.max()]

1    1/2/2020
Name: day, dtype: object

In [65]:
df

          temp  windspeed  event
day
1/1/2020    32          6   rain
1/2/2020    35          7  sunny
1/3/2020    28          2   snow
1/4/2020    24          7   snow
1/5/2020    32          4   rain
1/6/2020    32          2  sunny

In [69]:
df[['day','temp']][df.temp==df.temp.max()]

        day  temp
1  1/2/2020    35

In [63]:
df.index

Index(['1/1/2020', '1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020', '1/6/2020'], dtype='object', name='day')

In [70]:
df.set_index('day',inplace=True)

In [57]:
df

          temp  windspeed  event
day
1/1/2020    32          6   rain
1/2/2020    35          7  sunny
1/3/2020    28          2   snow
1/4/2020    24          7   snow
1/5/2020    32          4   rain
1/6/2020    32          2  sunny

In [72]:
df.reset_index(inplace=True)

In [73]:
df

        day  temp  windspeed  event
0  1/1/2020    32          6   rain
1  1/2/2020    35          7  sunny
2  1/3/2020    28          2   snow
3  1/4/2020    24          7   snow
4  1/5/2020    32          4   rain
5  1/6/2020    32          2  sunny

In [74]:
df.loc[3]

day          1/4/2020
temp               24
windspeed           7
event            snow
Name: 3, dtype: object